{% extends '::app.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block title %}Nouvelle Formule{% endblock %}
{% block titre %}Création nouvelle formule{% endblock %}

{% block breadcrumbs %}
<li><span>Nouvelle Formule</span></li>
{% endblock %}

{% block body %}
<form action="{{ path('formule_create') }}" method="post" class="forms units-row" {{ form_enctype(form) }}>

<div class="units-row units-padding ">
  <div class="unit-centered unit-66 panel">
    {{ form_row(form.description) }}
    <div class="units-row units-padding">
      <div class="unit-50">
        {{ form_row(form.tarif) }}
        <div class="forms-desc">Pour les prix en euros, ne pas ajouter le symbole '€'</div>
      </div>
      <div class="unit-50">
        <label for="list-logi">La formule inclut :</label>
        <ul class="forms-inline-list" id="list-logi">
          <li>{{ form_widget(form.midi) }}</li>
          <li>{{ form_widget(form.soir) }}</li>
          <li>{{ form_widget(form.nuit) }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<footer id="footer" class="group">
	<div class="left"><a href="{{ path('formule') }}" class="btn btn-back"><i class="fa fa-chevron-left fa-fw"></i>Retour à la liste</a></div>
	<div class="right">{{form_widget(form.submit)}}</div>
</footer>

{{ form_end(form)}}
{% endblock %}
