<ul class="forms-inline-list new">
	{{ form_widget(form.ordre) }}
	<li class="ui-handle"></li>
	<li><i class="fa fa-calendar"></i>{{ form_widget(form.date) }}</li>
	<li>{{ form_widget(form.description) }}</li>
	<li>{{ form_widget(form.typeReponse) }}</li>
	<li>{{ form_widget(form.evenementFormule) }}</li>
	<li>{{ form_widget(form.intervenant) }}</li>
	<li></li>
</ul>
