{% extends '::app.html.twig' %}


{% block titre %}Inscription - {{entity.stagiaire.civilite|capitalize}} {{entity.stagiaire.prenom|capitalize}} {{entity.stagiaire.nom|capitalize}}{% endblock %}

{% block title %}Inscription - {{entity.stagiaire.civilite}} {{entity.stagiaire.prenom}} {{entity.stagiaire.nom}}{% endblock %}
{% block controls %}{{form(delete_form)}}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{path('evenement')}}">Evenements</a></li>
	<li><a href="{{path('inscription', {'idevenement': idevenement})}}">Inscriptions</a></li>
	<li><span>Détails de l'inscription</span></li>
{% endblock %}

{% block body -%}

{# <div class="units-row panel unit-padding">
	<div class=" unit-10 text-right"><i class="fa fa-quote-left fa-2x"></i></div>
	<div class=" unit-80">
		<p class="lead text-centered">{{ entity.attentes }}</p>
	</div>
	<div class=" unit-10"><i class="fa fa-quote-right fa-2x"></i></div>
</div>

 #}


<div class="units-row">
	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Inscription</span>
			{% set couleur = "" %}
				{% if entity.statut == 'accepté'%}
					{% set couleur = "label-green" %}
				{% elseif entity.statut == 'annulé'%}
					{% set couleur = "label-red" %}
				{% elseif entity.statut == 'en attente'%}
					{% set couleur = "label-yellow" %}
				{% endif %}
				<span class="controls right group">
					<span class="label {{couleur}}">{{ entity.statut }}</span>
				</span>
		</div>

		<div class="panel-body">
			<p class="text-centered lead"><i class="fa fa-graduation-cap"></i> {{entity.evenementformule.evenement.intitule}}</p><hr/>
			<table>
				<tr>
					<th><i class="fa fa-calendar"></i> Date d&apos;inscription</th>
					<td>le {{entity.dateInscription|date('d/M/Y')}} à {{entity.dateInscription|date('H:i:s')}}</td>
				</tr>

				<tr>
					<th><i class="fa fa-cutlery"></i> Formule d&apos;hébergement</th>
					<td>{{ entity.evenementformule.formule.id }} - {{ entity.evenementformule.formule.description|capitalize }} ({{entity.evenementformule.formule.tarif}} {{ (entity.evenementformule.formule.tarif|number_format)? "&euro;" }})</td>
				</tr>
				<tr>
					<th>
						Statut du Financement
					</th>
					<td>
						{% if entity.statutFinancement is null %}
							<span class="label label-outline label-yellow">En attente</span>
						{% elseif entity.statutFinancement == false %}
							<span class="label label-outline label-red">Annulé</span>
						{% else %}
							<span class="label label-outline label-green">Confirmé</span>
						{% endif %}

					</td>
				</tr>
				<tr>
					<th>
						Champ, provenance
					</th>
					<td>
						{% if entity.provenancePCST %}
							<i class="fa fa-flask fa-fw fa-2x"></i> PCST
						{% else %}
							Autre que pcst
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</div>


	<div class="unit-50 panel">
		<div class="header">
			<span class="titre">Attentes du stagiaire</span>
				<span class="controls right group">
				</span>
		</div>

		<div class="panel-body">
			<p class="end"><i class="fa fa-quote-left fa-2x" style="color: #f1f1f1"></i> {{ entity.attentes }} <i class="fa fa-quote-right fa-2x" style="color: #f1f1f1"></i></p>
		</div>
	</div>

</div>



<div class="units-row">
	<div class="unit-33 panel {{(type == 'stagiaire')? 'highlight'}}" id="stagiaire">
		<div class="header">
			<span class="titre">Le stagiaire</span>
				<span class="controls right group">
				</span>
		</div>

		<div class="panel-body">
			<p class="lead text-centered">
				<i class="fa fa-user"></i> <strong>{{entity.stagiaire.civilite}} {{entity.stagiaire.nom}} {{entity.stagiaire.prenom}}</strong>
			</p>
			<p class="text-centered">
				<em>{{entity.stagiaire.fonction}}</em>
			</p>
			{% if entity.stagiaire.tel %}
			<p class="text-centered end">
				<i class="fa fa-phone"></i> {{entity.stagiaire.tel}}
			</p>
			{% endif %}
			{% if entity.stagiaire.fax %}
			<p class="text-centered end">
				<i class="fa fa-fax"></i> {{entity.stagiaire.fax}}
			</p>
			{% endif %}
			{% if entity.stagiaire.mail %}
			<p class="text-centered end">
				<i class="fa fa-envelope"></i> {{entity.stagiaire.mail}}
			</p>
			{% endif %}
		</div>
	</div>

	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Adresse du stagiaire</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body units-row">
			{% if entity.stagiaire.adresse %}
			<address>
				<strong>{{entity.stagiaire.adresse.nomStructure}}</strong><br/>
				{{entity.stagiaire.adresse.adresse}}<br/>
				{{entity.stagiaire.adresse.adresseComplement}}<br/>
				{{entity.stagiaire.adresse.cP}} -
				{{entity.stagiaire.adresse.ville}}<br/>
				{{entity.stagiaire.adresse.pays}}
			</address>
			<a class="btn end width-100" target="_blank" href="https://www.google.fr/maps/place/{{entity.stagiaire.adresse.nomStructure|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.adresse|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.cP|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.ville|replace({' ': '+','"':''})}},+{{entity.stagiaire.adresse.pays|replace({' ': '+','"':''})}}">
				<i class="fa fa-map-marker fa-fw"></i> Voir sur Google Map
			</a>
		{% endif %}
		</div>
	</div>

	<div class="panel unit-33 {{(type == 'admin')? 'highlight'}}" id="admin">
		<div class="header">
			<span class="titre">Contact Administratif</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body">
		{% if entity.admin %}
			{% if ((entity.admin.nom)or(entity.admin.prenom)) %}
			<p class="lead text-centered">
				<i class="fa fa-user"></i> <strong>{{entity.admin.civilite}} {{entity.admin.nom}} {{entity.admin.prenom}}</strong>
			</p>
			{% endif %}
			{% if entity.admin.fonction %}
			<p class="text-centered">
				<em>{{entity.admin.fonction}}</em>
			</p>
			{% endif %}
			{% if entity.admin.tel %}
			<p class="text-centered end">
				<i class="fa fa-phone"></i> {{entity.admin.tel}}
			</p>
			{% endif %}
			{% if entity.admin.mail %}
			<p class="text-centered end">
				<i class="fa fa-envelope"></i> {{entity.admin.mail}}
			</p>
			{% endif %}
		{% endif %}
		</div>
	</div>
</div>

<div class="units-row">


	<div class="panel unit-33 {{(type == 'signataire')? 'highlight'}}" id="signataire">
		<div class="header">
			<span class="titre">Signataire</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body">
			{% if entity.signataire %}
				<p class="text-centered lead">
					<i class="fa fa-user"></i> <strong>{{entity.signataire.civilite}} {{entity.signataire.nom}} {{entity.signataire.prenom}}</strong>
				</p>

				<p class="text-centered"><em>{{entity.signataire.fonction}}</em></p>
				<p class="text-centered"><i class="fa fa-envelope"></i> {{entity.signataire.mail}}</p>
			{% endif %}
		</div>
	</div>

	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Organisme financeur</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body">
		{% if (entity.signataire)and(entity.signataire.adresse) %}
		<span class="label label-outline">{{entity.signataire.adresse.type}}</span>
			<address>
				<strong>{{entity.signataire.adresse.nomStructure}}</strong><br/>
				{{entity.signataire.adresse.adresse}}<br/>
				{% if entity.signataire.adresse.adresseComplement %}{{entity.signataire.adresse.adresseComplement}}<br/>{% endif %}
				{{entity.signataire.adresse.cP}} -
				{{entity.signataire.adresse.ville}}<br/>
				{{entity.signataire.adresse.pays}}
			</address>



			<p> <strong>Tags :</strong>
				{% for tag in entity.signataire.adresse.tags %}
					<span class="label">{{tag.tag}}</span> &nbsp;
				{% endfor %}
			</p>
			{% endif %}
		</div>
	</div>

	<div class="panel unit-33">
		<div class="header">
			<span class="titre">Convention</span>
				<span class="controls right group">

				</span>
		</div>

		<div class="panel-body group">
			L'inscription bénéficie d&apos;une convention ?
			{% if entity.statutConvention is null %}
				<span class="label label-outline label-blue">Ne sais pas</span>
			{% elseif entity.statutConvention == false %}
				<span class="label label-outline label-red">NON</span>
			{% else %}
				<span class="label label-outline label-green">OUI</span>
			{% endif %}

			{% if entity.convention is not null %}
				<table class="">
					<tr>
						<th>Numéro de Convention</th>
						<td><span class="label big">{{entity.convention.numeroToString}}</span></td>
					</tr>
					<tr>
						<th>Date d'édition</th>
						<td>{{(entity.convention.edition)? entity.convention.edition|date('d/m/Y')}}</td>
					</tr>
					<tr>
						<th>Etape 1</th>
						<td>{{(entity.convention.etape1)? entity.convention.etape1|date('d/m/Y')}}</td>
					</tr>
					<tr>
						<th>Etape 2</th>
						<td>{{(entity.convention.etape2)? entity.convention.etape2|date('d/m/Y')}}</td>
					</tr>
					<tr>
						<th>Etape 3</th>
						<td>{{(entity.convention.etape3)? entity.convention.etape3|date('d/m/Y')}}</td>
					</tr>
					<tr>
						<th>Etape 4</th>
						<td>{{(entity.convention.etape4)? entity.convention.etape4|date('d/m/Y')}}</td>
					</tr>

				</table>
			{% endif %}
		</div>
	</div>

</div>


<footer id="footer" class="group">
    <div class="left"><a href="{{ path('inscription', {'idevenement':idevenement}) }}" class="btn btn-back"><i class="fa fa-chevron-left fa-fw"></i>Retour</a></div>
    <div class="right"><a href="{{ path('inscription_edit', { 'id': entity.id, 'idevenement': idevenement }) }}" class="btn btn-green btn-edit"><i class="fa fa-pencil fa-fw"></i>Modifier</a></div>
</footer>
{% endblock %}
